# Konfigurasi rahasia
.env
.env.*
!.env.example

# Dependency
/vendor/
/node_modules/

# Log
*.log
/logs/

# File sementara dan cache
/tmp/
/temp/
/.cache/

# Konfigurasi editor
/.idea/
/.vscode/
*.swp
*.swo

# File sistem operasi
.DS_Store
Thumbs.db
Desktop.ini

# Konfigurasi koneksi database lokal
# /_Config/Connection.php
# Parameter koneksi dan kredensial lokal (jangan dipublikasikan)
/_Config/config.php
